{% load static %}

<footer>
    <img src="{% static 'img/logo.png' %}" width="90" />
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/codigo">Logo</a></li>
        <li><a href="https://www.instagram.com/leanmsan/">Instagram Personal</a></li>
        <li><a href=""></a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</footer>